@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
  }

  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 9999px;
  }

  .light *::-webkit-scrollbar-thumb,
  :root:not(.dark) *::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
  }
}
