@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #c7c7cc transparent;
  }

  .dark * {
    scrollbar-color: #3a3a3c transparent;
  }

  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c7c7cc;
    border-radius: 9999px;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: #3a3a3c;
  }
}
